/* devemos criar variáveis para elementos que irão reutilizar regars  */
:root {
    --color-gray: #dde0e1;
    --margin-default: 45px;
    --width-90: 90%;
}

/* regras gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

img {
    width: 70px;
}

/* tag que aplica para todos  */

.container {
    background-color: var(--color-gray);
    width: var(--width-90);
    min-height: 120px;
    /* calcula os 90% de largura e centraliza, uso auto para centralizar uma div na horizontal */
    margin: var(--margin-default) auto;
    padding: 30px;
    display: flex;
    align-items: center;
    /* alinhamento vertical */
    gap: 20px;
}

.center {
    justify-content: center;
    /* faz o alinhamento horizontal */
}

.right {
    justify-content: right;
}

/* gap espaçamento entre os elementos, só funciona se o elemento for flexível */

.left {
    justify-content: left;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 30px;
    display: flex;
}

.colum {
    flex-direction: column;
}

.radiu {
    border-radius: 7px;
}

.team {
    display: flex;
    flex-direction: column;

    min-height: 180px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team img{
    border-radius: 100%;
    width: 100px;
}


.social  {
  
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  
}

.social i{
    font-size: 20px;
    color:#333 ;
}

.social i:hover{
    color: #dc143c;
}